body {
    background-color: #0d0630;
    font-family: "Roboto", sans-serif;
}
.navbar img {
    width: 15vw;
}
h1 {
    color: #ffc700;
}
.tittlesection {
    color: #ffc700;
}
hr {
    border: 3px solid #e5f0ee;
    width: 30%;
    margin: auto;
    opacity: 100%;
}
#main {
    height: 100vh;
    width: 100vw;
}
#aboutme img {
    max-height: 50vh;
    border-radius: 5px;
    margin: 5%;
}
ul {
    list-style-type: none;
}
span {
    color: #ffc700;
}
